<style>
  textarea {
    display: flex;
    flex-direction: column;
    resize: none;
    height: 100%;
    overflow: auto;
    position: relative;
  }

  div.textarea {
    resize: none;
    overflow: auto;
    height: 100%;
    position: relative;
  }

  div.row {
    resize: none;
    overflow: none;
  }

  div.bottom {
    resize: none;
    overflow: none;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
</style>

<form>
  <div class="form-group row">
    <label for="jsonfile">JSON File:</label>
    <div class="form-fields row">
      {{filePicker target="jsonfile"}}
      <input type="text" name="jsonfile" placeholder="path/file.json" value="{{object.jsonfile}}" />
    </div>
  </div>
  <div class="form-group textarea parent" overflow="scroll">
    <textarea id="clipboardInput" name="clipboardInput" rows="4" cols="50"></textarea>
  </div>
  <div class="form-group bottom">
    <button type="submit" name="submit" value="submit">Okay</button>
  </div>
</form>