/* ------------------------------------ */
/*                 CSS                  */
/*         Add your styles here         */
/* ------------------------------------ */
.form {
  resize: both;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
